{% extends 'admin/master.html' %}

{% block head_css %}
{{ super() }}
{% endblock %}

{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Golden Sixpacks Admin</h1>
            <p class="lead">
	      Welcome to the Bridge, Captain.
            </p>
            {% if not current_user.is_authenticated %}
            <p>
                <a class="btn btn-primary" href="{{ url_for('security.login') }}?next=admin/">Login</a> 
            </p>
	    <br>
            <p>If this is your first time visiting admin (after getting
              Golden Sixpacks up and running),<br>
	      you can log in as a superuser with the following credentials:
            <ul>
                <li>username: <b>datascope</b></li>
                <li>password: <b>datascope</b></li>
            </ul>
	    Remember to delete this user once you have created a
	    superuser for yourself.
	    </p>
	    {% else %}
	    <br>
	    <div class="row">
	      <div class="col-md-4">
		<div id="participation"></div>
	      </div>
	      <div class="col-md-1"></div>
	      <div class="col-md-4">
		<div id="results"></div>
	      </div>
	      <div class="col-md-3"></div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock body %}

{% block tail_js %}
{{ super() }}
  <script>
    $.ajax({
    url:"{{ url_for('participation') }}",
    type:'GET',
    success: function(data){
    $('#participation').html($(data).find('#participation').html());
    }
    });

//    $.ajax({
//    url:"{{ url_for('results') }}",
//    type:'GET',
//    success: function(data){
//    $('#results').html($(data).find('#results').html());
//    }
//    });

    $.ajax({
    url:"{{ url_for('results') }}",
    type:'GET',
    success: function(data){
    $('#results').html(data);
    }
    });
  </script>
{% endblock %}
