{% extends 'admin/master.html' %}

{% block head_css %}
{{ super() }}
{% endblock %}

{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Golden Sixpacks Admin</h1>
            <p class="lead">
	      Welcome to the Bridge, Captain.
            </p>
            {% if not current_user.is_authenticated %}
            <p>
                <a class="btn btn-primary" href="{{ url_for('security.login') }}?next=admin/">Login</a> 
            </p>
	    <br>
            <p>If this is your first time visiting admin (after getting
              Golden Sixpacks up and running),<br>
	      you can log in as a superuser with the following credentials:
            <ul>
                <li>username: <b>datascope</b></li>
                <li>password: <b>datascope</b></li>
            </ul>
	    Remember to delete this user once you have created a
	    superuser for yourself.
	    </p>
	    {% elif current_user.has_role('superuser') %}
	    <br>
	    <div class="row">
	      <div class="col-md-4">
		<div id="participation"></div>
	      </div>
	      <div class="col-md-1"></div>
	      <div class="col-md-8">
		<div id="results"></div>
	      </div>
	      <div class="col-md-3"></div>
	    {% else %}
	    <div class="row">
	      <div class="col-md-8">
		<div class="col-xs-12" style="height:20px;"></div>
		<p>
		  Hi there! You are not a superuser---that burden
		  belongs to the organizer of Golden Sixpacks, the
		  peer review role. Hencethereforthwidth, you are not seeing the
		  controls for setting it up (like the entries
		  for category definitions, nominations, etc.) All you
		  need to worry about is <a href="/">voting</a>.
		</p>
		<p>
		  If you are indeed the organizer, please log out and log
		  back in as a superuser to make changes to the setup.
		</p>
		<div class="col-xs-12" style="height:20px;"></div>
		<p>
                  <a class="btn btn-primary" href="{{ url_for('vote',
                  category_no=0) }}?next=admin/">Let's Vote</a> 
		<p>
		</p>
	      </div>
	    </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock body %}

{% block tail_js %}
{{ super() }}
{% if current_user.is_authenticated and current_user.has_role('superuser') %}
  <script>
    $.ajax({
    url:"{{ url_for('participation') }}",
    type:'GET',
    success: function(data){
    $('#participation').html($(data).find('#participation').html());
    }
    });

    $.ajax({
    url:"{{ url_for('results') }}",
    type:'GET',
    success: function(data){
    $('#results').html($(data).find('#results').html());
    }
    });
  </script>
{% endif %}
{% endblock %}
