{% extends "base.html" %}


{% block subheader %}{{data.award_name}}{% endblock subheader %}

{% block main %}
{{ super() }}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <img src="{{ url_for('static',
		filename='img/oscars.jpg') }}"
	   class="img-rounded"
	   width="100%">
      <center><h2>{{data.award_name}}</h2></center>
      <div class="panel panel-primary">
	<div class="panel-heading">
	  <h3 class="panel-title">{{data.question}}
	  </h3>
	</div>
	<form action="/vote">
	  <div class="panel-body">
	    <ul class="list-group">
	      {% for nominee in data.nominees %}	    
	      <li class="list-group-item">
		<div class="radio">
		  <label>
		    <input type="radio"
			   name="{{data.award_name}}__vote"
			   value="{{nominee}}"> {{nominee}} 
		  </label>
		</div>
	      </li>
	      {% endfor %}
	    </ul>
	  </div>
	  <div class="panel-footer">
	    <input type="submit" class="btn
					btn-primary btn-lg"
		   value="Vote">
	</form>
	</div>
      </div>
    </div>
{% endblock main %}
