<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static',
				    filename='img/favicon.ico') }}">
    {% block cdn_css %}
    <link rel="stylesheet"
	  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    {% endblock cdn_css %}
    
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static',
				 filename='css/base.css') }}">
    {% endblock css %}
  </head>

  <body>
    {% block body %}

    {% block nav %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
	<div class="navbar-header">
		      <h1>Golden Sixpacks <span class="subheader">
		      {% block subheader %}{% endblock subheader %}</span></h1>
	</div> 
	<div class="navbar-header pull-right">
	  <a class="navbar-brand"
	     href="http://datascopeanalytics.com">
	    <img alt="Datascope" src="{{
			              url_for('static',
			              filename='img/tiny_oscar.jpg')
			              }}">
	  </a>
	</div>
      </div>
    </nav>
    {% endblock nav %}

    <div id="main">
      {% block main %}
      {% endblock main %}
    </div>

    {% block footer %}
    <footer class="footer">
      <nav class="navbar navbar-default">
	<div class="container">
	  <div class="navbar-header">
	    <div class="navbar-text">
	      <a "navbar-brand"
		 href="http://datascopeanalytics.com">
		<img alt="Datascope"
		     src="{{
			  url_for('static',
			  filename='img/datascope-logo.png')
			  }}"></a>
	    </div>
	  </div>
	</div>
      </nav>
    </footer>
    {% endblock footer %}
    
    {% block cdn_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% endblock cdn_js %}
    
    {% block js %}
    <script src="{{url_for('static',
		 filename='js/vote.js')}}"></script>
    {% endblock js %}

    {% endblock body %}
  </body>


</html>

