{% extends "base.html" %}

{% block main %}
{{ super() }}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <img src="{{ url_for('static',
		filename='img/oscars.jpg') }}"
	   class="img-rounded"
	   width="100%">
      <center>
	<h2>Welcome to Golden Sixpacks</h2>
	<p>
	  Prepare to acknowledge the hell out of your coworkers. 
	</p>
	<a class="btn btn-primary" href="{% if current_user.is_authenticated and current_user.has_role('superuser') and not current_user.has_role('voter') %}/admin{% else %}{{ url_for('vote', category_no=0)}}{% endif %}">Take me to Heaven</a>
      </center>
    </div>
  </div>
</div>
{% endblock main %}
